<div class="title is-5">
    Tabrir
</div>

<button ng-click="switchToCreateView()">Switch To Other View</button>
<br><br><br>


<span ng-repeat="group in groups track by $index">
    <i class="fa fa-circle-thin is-primary" style="font-size: 100px;"></i>
    <div ng-click=open(group.urlList) style="cursor:pointer; position: relative; display: inline-block; right: 72px; top: 25px;">
        <div class="icon-block">
            <span ng-repeat="url in group.urlList">
                <img ng-src="{{getIcon(url)}}">
            </span>
        </div>
    </div>
    {{group.groupName}}
    <br>
</span>